body {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.icon-span {
    padding-right:10px;
}


