<nav id="hunt-menu" class="nav">
  <div class="nav__menu">
    <a href="#">
      <img src="images/icons/menu.png" />
    </a>
  </div>
  <h1 class="nav__logo blog-title">
    <a href="/"><img src="images/logo.png" alt="logo" /></a>
    <p class="lead blog-description">A fast and flexible search platform.</p>
  </h1>
  <div class="nav__toc">
    Table of contents
  </div>
  <ul class="nav__list">
    <li class="nav__list-item">
      <a href="chapters/introduction">1. Introduction</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/schema-definition">2. Schema Definition</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/indexing">3. Indexing</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/querying">4. Querying</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/administration">5. Administration</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/using-hunt-with-haskell">6. Using Hunt with Haskell</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/appendix">Appendix</a>
    </li>
  </ul>
  <footer class="nav__footer">
    <p>
      <a href="https://github.com/hunt-framework">
        <img src="images/icons/github.png" />
      </a>
      Hunt-Search &#169; 2017
    </p>
  </footer>
</nav>
