<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list-item">
      <a href="chapters/1-introduction">Introduction</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/2-schema-definition">Schema Definition</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/3-indexing">Indexing</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/4-querying">Querying</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/5-administration">Administration</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/6-using-hunt-with-haskell">Using Hunt with Haskell</a>
    </li>
    <li class="nav__list-item">
      <a href="chapters/appendix">Appendix</a>
    </li>
  </ul>
</nav>
